*{
  padding: 0;
  margin: 0;
}

body{
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
}

main{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  margin: auto;
  min-height: 100vh;
}

.form-div {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.instalogo{
  width: 300px;
  margin: 0px 0;
  padding: px;
}

.input{
  width: 90%;
  padding: 11px;
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.3);
    margin: 3px;
}
.login-btn{
  width: 97%;
  padding: .4rem;
  font-weight: 700;
  background-color: rgb(1, 183, 255);
  border: none;
  border-radius: 8px;
  margin: 8px 0px;
  color: white;
}
#or{
  margin: 20px 0;
}

.fb-login  {
  font-weight: 700;
  font-size: 95%;
  color: rgb(85, 0, 255);
  margin-bottom: 30px;
  margin-top: 10px;
  text-align: center;
}

.signup{
  text-align: center;
  border: 1px solid rgba;

}
.sign{
  border: 1px solid gray;
  height: 40px;
  width: 100%;
  margin-top: 20px;
}
.getapp{
  text-align: center;
  display: flex;
  flex-direction: column;
}
.store {
  display: flex;
  align-items: center;
}

#playStore{
  width: 135px;
}

#microsoft{
  width: 110px;
  border-radius: 8px;
}

.form-div form {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  /* padding: 3vh 2vw; */
  padding: 100px;
  border: 1px solid rgba(128, 128, 128, 0.3);
}