.calculator{
   border: 1px solid rgb(197, 188, 188);
   border-radius: 5px;
   width: 250px;
   height: 400px;
}
#display{
  background-color: rgb(195, 202, 207);
  margin: 10px ;
  width:85%;
  height: 30px;
}
.button{
  width: 50px;
  height: 50px;
  margin: 3px;
}
.button-container{
  margin-left: 35px;
  margin-right: 5px;
  /* display: flex;
  justify-content: center;
  flex-wrap: wrap; */
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
}
